@model IEnumerable<Domain.NewsArticle>

@{
    ViewData["Title"] = "News Articles";
}

<h1>News Articles</h1>

<form method="get" asp-action="Index">
    <div class="form-group">
        <input type="text" name="searchString" class="form-control" placeholder="Search by title or headline" value="@ViewData["CurrentFilter"]" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Headline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsArticleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NewsArticleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsArticleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
